<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Url" value="http://demos.bellatrix.solutions/"/>
		<add key="Username" value="TrifonEstov"/>
		<add key="Password" value="SuperSecretP@$sw0rd"/>
		<add key="ScreenshotDirectoryName" value="Screenshots"/>
	</appSettings>
</configuration>